{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
.container-fluid{
    background-color: black;
    height: 800px;
}
.row{
    padding: 1%;
}

</style>

<div class="container-fluid">
    {% if filt.role == stf %}
    <div class="row">
        <div class="col-sm-12" style="background-color: #191c24; text-align: center; color: white;">
            <h1>USER LIST</h1>
        </div>
    </div>
    
    <div class="row">
        {% for t in dats %}
        <div class="col-md-3" style="text-align:center;" >
            <div class="card m-4" style="width: 18rem; height: auto;text-align: center;background-color: #191c24;color: white; ">
                {% if filt.image == '/static/image/icon.png' %}
                    <img class="card-img-top" style=" height: 300px; width: 18rem;" src="{%static 'image/noimage.jpg'%}">
                {%else%}
                    <img class="card-img-top" style=" height: 300px; width: 18rem;" src="{{filt.image.url }}">
                {%endif%}
                <div class="card-body">
                <h5 class="card-title">{{ t.first_name }} {{ t.last_name }}</h5>
                <h5 class="card-title">{{ t.email }}</h5>
                <a href="#" data-dismiss="modal" data-target="#view" data-toggle="modal"><button type="submit" class="btn  btn-outline-info btn-sm mx-5 my-3"> View Details </button><a>
                
                </div>
            </div>
        </div>
        {% empty %}
            <h2>
                No Data
            </h2>
        {% endfor %}

        
    </div>
    
    
    {%else%}
    <div class="row">
        <div class="col-sm-12" style="background-color: #191c24; text-align: center; color: white;">
            <h1>PROFILE</h1>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-12">
          
          {% for message in messages %}
          <h5 style="text-align: center;">
            <div class="alert alert-danger">
              {{ message}}
              </div>
          </h5>
          {%endfor%}
        
        </div>
      </div>
    <div class="row">
        
        <div class="col-sm-12"style="background-color: #191c24; text-align: center; color: white;">
            <div class="row">
                <div class="col-sm-6">
                    {% if filt.image == '/static/image/icon.png' %}
                    <td>
                      <img src="{% static 'image/icon.png' %}" class="w-25">
                   </td>
                    {% else %}
                    <td>
                      <img src="{{ filt.image.url }}" class="w-75" style="border-radius: 400px;">
                   </td>
                   {% endif %}
                </div>
                <div class="col-sm-6">
                    
                        <form   method="POST" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h1 style="color: white;">DETAILS</h1>
                            <input type="text" name="first_name" style="margin-top: 3%;"  placeholder="First Name" class="form-control" value=" {{filt.first_name}}">   
                            <input type="text" name="last_name" style="margin-top: 1%;" placeholder="Last Name" class="form-control" value=" {{filt.last_name}}">  
                            <input type="text" name="username" placeholder="Username" style="margin-top: 1%;" class="form-control" value=" {{filt.username}}">  
                            <input type="password" name="password" placeholder="Password" style="margin-top: 1%;" class="form-control" value="**********">  
                            <input type="password" name="cpassword" placeholder="Confirm Password" style="margin-top: 1%;" class="form-control" value="**********">
                            <input type="email" name="email" placeholder="Email" style="margin-top: 1%;" class="form-control" value=" {{filt.email}}">
                            
                            
                            <a href="#" data-dismiss="modal" data-target="#editpro" data-toggle="modal"><input type="submit"  class="btn btn-light" value="EDIT" style="margin: 3% auto;" ></a>
                            
                          </form>
                    
                </div>
            </div>
        </div>
    </div>

    
    
    {%endif%}
    <div class="modal fade" id="editpro">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #191c24; color: white">
                <div class="modal-header">
                    <h3 class="m-3" >EDIT SECTION</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card p-3 m-3">
                        <form method="post" action="{% url 'editpro' filt.id %}">
                                {% csrf_token %}
                                <input type="text" name="first_name" style="margin-top: 3%;"  placeholder="First Name" class="form-control" value=" {{filt.first_name}}">   
                                <input type="text" name="last_name" style="margin-top: 1%;" placeholder="Last Name" class="form-control" value=" {{filt.last_name}}">  
                                <input type="text" name="username" placeholder="Username" style="margin-top: 1%;" class="form-control" value=" {{filt.username}}">  
                                <input type="password" id="pass" name="password" placeholder="Password" style="margin-top: 1%;" class="form-control" >  
                                <input type="password" id="cpass" name="cpassword" placeholder="Confirm Password" style="margin-top: 1%;" class="form-control" >
                                <input type="email" name="email" placeholder="Email" style="margin-top: 1%;" class="form-control" value=" {{filt.email}}"><br><br>
                            
                                
                                <button type="submit"  class="btn  btn-outline-info" style="margin-left: 42%;">Update and
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="view">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #191c24; color: white">
                <div class="modal-header">
                    <h3 class="m-3" >EDIT SECTION</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card p-3 m-3">
                        <form method="post" action="{% url 'editpro' filt.id %}">
                                {% csrf_token %}
                                <input type="text" name="first_name" style="margin-top: 3%;"  placeholder="First Name" class="form-control" value=" {{filt.first_name}}">   
                                <input type="text" name="last_name" style="margin-top: 1%;" placeholder="Last Name" class="form-control" value=" {{filt.last_name}}">  
                                <input type="text" name="username" placeholder="Username" style="margin-top: 1%;" class="form-control" value=" {{filt.username}}">  
                                <input type="password" id="pass" name="password" placeholder="Password" style="margin-top: 1%;" class="form-control" >  
                                <input type="password" id="cpass" name="cpassword" placeholder="Confirm Password" style="margin-top: 1%;" class="form-control" >
                                <input type="email" name="email" placeholder="Email" style="margin-top: 1%;" class="form-control" value=" {{filt.email}}"><br><br>
                            
                                
                                <button type="submit"  class="btn  btn-outline-info" style="margin-left: 42%;">Update and
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}